.overflow {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #777 transparent;
}

/* Chrome / Edge / Safari */
.overflow::-webkit-scrollbar {
  width: 4px;
}

.overflow::-webkit-scrollbar-track {
  background: transparent;
}

.overflow::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 0;
}

.overflow::-webkit-scrollbar-thumb:hover {
  background: #999;
}
